<!doctype html>
<html lang="en" data-theme="light">
  {% include "partials/head.html" %}
  <body class="site">
    <div class="site__wrapper">
      {% include "partials/header.html" %}
      <main class="{% block main_class %}{% endblock %}">
        {% block content %}{% endblock %}
      </main>
      {% include "partials/page-nav.html" %}
      {% include "partials/footer.html" %}
    </div>
    {% include "partials/scripts.html" %}
    <a href="#" class="back-to-top" aria-label="Back to top" title="Back to top">↑</a>
  </body>
</html>
